<div class="d-page">

  <div class="d-header">
    <div class="d-logo">{{title}}</div>
    <div class="d-nav">
      <div class="d-menutop">
          <ul>
            <li *ngIf="!session"><a routerLink="/login" mat-button [class.active]="currentRoute === '/login'">Login</a></li>
            <li *ngIf="!session"><a routerLink="/register" mat-button [class.active]="currentRoute === '/register'">Register</a></li>
            <li *ngIf="session" class="dropdown">
              <a mat-button [matMenuTriggerFor]="menu">{{session.firstname + ' ' + session.lastname}}</a>
              <mat-menu #menu="matMenu">
                <a mat-menu-item (click)="doLogout()">Logout</a>
              </mat-menu>
            </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="d-body">

    <div class="d-menuleft">
      <header>Menu</header>
      <ul>
        
        <li><a routerLink="/" mat-button [class.active]="currentRoute === '/'">Home</a></li>
        <li><a routerLink="/test" mat-button [class.active]="currentRoute === '/test'">Test</a></li>

        <ng-container *ngIf="session">
          <li><a routerLink="/editions" mat-button [class.active]="currentRoute === '/editions'">Editions</a></li>
        </ng-container>
      </ul>
    </div>

    <div class="d-content">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="d-footer">
    <footer>Copyright © 2016-2018 Digital Creator. All rights reserved.</footer>
  </div>

</div>

